<img src="../../../assets/new-bg-schedule.jpg" class="bg">
<div class="col-md-12 top-transparent-ribbon text-center">
  <h3 class="brand-title"><b>Schedule</b> Login</h3>
</div>
<div id="form-container" class="col-md-6 col-md-offset-3">
  <mat-card>
    <div class="header-container">
      <div class="pad-btm text-center title-part">
        <h5>Login</h5>
      </div>
    </div>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <mat-form-field>
        <input type='text' name="email" class="form-input" matInput placeholder="Email"
               [(ngModel)]="model.email" required>
        <mat-icon matPrefix>person</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input type='text' name="group" class="form-input" matInput placeholder="Group"
               [(ngModel)]="model.groupName" required>
        <mat-icon matPrefix>groups</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input [type]="passwordsShown ? 'text' : 'password'" name="password" class="form-input" matInput
               placeholder="Password" [(ngModel)]="model.password" required>
        <mat-icon (click)="togglePasswordVisibility()" class="visible-pass-icon" matSuffix>
          {{ passwordsShown ? 'visibility': 'visibility_off'}}
        </mat-icon>
        <mat-icon matPrefix>lock_icon</mat-icon>
      </mat-form-field>
      <div class="form-group clearfix">
        <div class="pull-right">
          <button [disabled]="!f.form.valid" type="submit" class="submit-button"
                  mat-raised-button>Sign In</button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
