@model Schedule.Core.DTO.Email.ConfirmationMail

@{
    Layout = null;
    var forgotLink = $"https://localhost:4200/confirm/{Model.VerificationLink}";
}

<div>
    <h1>Dear @Model.FirstName @Model.LastName!</h1>
    <h2>If you want to change the password, follow the link below:</h2>
    <a href=@forgotLink>Change the password</a>
</div>
