<div id="content" *ngIf="currentOrganization">
  <h3 id="header-title">Admin Page | Organization: {{currentOrganization.name}}</h3>
  <div>
    <mat-tab-group>
      <mat-tab label="Notifications">
        <ng-template matTabContent>
          <div class="tab-content">
            <manage-notifications [studentsList]="students"></manage-notifications>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Groups">
        <ng-template matTabContent>
          <div class="tab-content">
            <manage-groups [studentsList]="students"></manage-groups>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Appointments">
        <ng-template matTabContent>
          <div class="tab-content">
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Users">
        <ng-template matTabContent>
          <div class="tab-content">
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>


  <!-- <div class="autocomplete">
      <mat-form-field class="organization-select">
        <mat-label>{{'SUPER-ADMIN.ORGANIZATION' | translate}}: </mat-label>
        <input type="text" aria-label="Organization" matInput [formControl]="organizationControl"
          [matAutocomplete]="auto">
      </mat-form-field>
      <mat-icon *ngIf="this.isOrganizationSelected" class="deselect" (click)="unselectOrganization()">clear </mat-icon>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOrganizations | async" [value]="option.code"
          (click)="setOrganization(option)">
          {{option.code}}
        </mat-option>
      </mat-autocomplete>
    </div>
    <div *ngIf="!this.isOrganizationSelected" class="organization-buttons">
      <button (click)="openDialog();" class="create-btn"
        mat-button>{{ 'MANAGEMENT.CREATE_BUTTON_LABEL' | translate }}</button>
      <button (click)="importOrganizations()" class="import-btn org-btn"
        mat-button>{{ 'SUPER-ADMIN.IMPORT-ORGANIZATIONS' | translate }}</button>
    </div>
    <div *ngIf="this.isOrganizationSelected" class="organization-buttons">
      <button (click)="updateOrganization();" class="update-btn"
        mat-button>{{ 'SUPER-ADMIN.UPDATE' | translate }}</button>
      <button mat-button class="delete-btn"
        (click)="confirmDelete()">{{'EVALUATION-DETAILS.DELETE' | translate}}</button>

    </div>
  </div>-->
