.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  /*dim*/
  -webkit-filter: brightness(60%);
  -moz-filter: brightness(60%);
  filter: brightness(60%);
}

.form-group > button[ng-reflect-disabled="false"] {
  color: white;
}

mat-icon {
  margin: 0 10px 0 0;
}

mat-form-field {
  width: 100%
}

.pad-btm {
  padding-bottom: 15px;
}

/*usage*/
.footer-height {
  height: 21px;
}

.submit-button {
  background-color: #D9534F !important;
  color: white !important;
}

.form-input {
  margin-bottom: 3px;
}

.visible-pass-icon {
  cursor: pointer;
  color: gray;
}
